.gem-list__item {
  display: flex;
  flex: 0 1 calc(33.33% - 10px);
  margin: 24px;
  padding: 8px;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 4px;
  max-width: 20vw;
}

.gem-image-left{
  width: 400px;
}

.type-location{
  font-weight: bold;
}

.bottom-row {
  display: flex;
  align-items: row;
}

.upvote-counter {
  display: flex;
  width: 50px;
  height: 36px;
  justify-content: space-around;
  align-items: center;
  font-size: 1.0em;
  color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #000000;
  transition: background-color 0.3s ease;
}

.thumbs-image {
  width: 10px;
  height: 10px;
}

.gem-currency-image {
  width: 25px;
  height: 25px;
}

.reveal-button {
  display: flex;
  width: 94px;
  height: 36px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.0em;
  color: #151414;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #f9f9f9; 
  transition: background-color 0.3s ease;
}

.reveal-button:hover {
  background-color: #aeecab;
}

.gem-tag {
  color: #9dc8b6;
}