@import 'variables';

.features-container {
  width: 85vw;
  margin: 15vh auto 5vh auto;
  display: grid;
  align-content: start;
  gap: 3em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "box-1 . ."
    ". box-2 ."
    ". . box-3";
}

.features-container .one {
  grid-area: box-1;
}

.features-container .two {
  grid-area: box-2;
}

.features-container .three {
  grid-area: box-3;
}

.features-container .one, .features-container .two, .features-container .three {
  height: 80vh;
  display: grid;
  align-content: start;
  gap: 3em;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "box1" "box2";
  position: sticky;
  top: 20vh;

  scale: 0.5;
  opacity: 0.5;
  transform: translateX(35vw);
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 10vh 80vh;
}

.features-box {
  grid-area: box2;
  width: 100%;
  min-height: 25vh; 
  padding: 2em;
  box-sizing: border-box;
  border-radius: 2em;
  background: rgba(var(--background-color-rgba), 0.95);
  box-shadow: .3em .3em .75em rgba($drop-shadow, 0.25);
  display: flex;
    align-items: center;
    justify-content: center;

  font: 1.25em/1.5em $display-font;
  font-weight: 300;
  color: $font-color;

  body.dark & {
    background: rgba($dark-background-color, 0.85);
    box-shadow: 0.2em 0.2em .5em rgba($dark-font-color, 0.15);
    color: $dark-font-color;
  }
}

.features-image {
  grid-area: box1;
  width: 100%;
  box-sizing: border-box;
  border-radius: 1em;
  display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fade-in {
  to { 
  scale: 1; 
  opacity: 1; 
  transform: translateX(0);
  }
}

@keyframes fade-up {
  to { 
  scale: 1; 
  opacity: 1; 
  transform: translateY(0);
  }
}

.features-signup {
  margin: 0em auto 20vh auto;
  text-align: center;
  box-sizing: border-box;
  font: 10vh $display-font;
  color: $background-color;
  text-shadow: 0.05em 0.05em .1em rgba($drop-shadow, .25);

  body.dark & {
    color: $dark-font-color;
    text-shadow: 0em 0.05em .5em rgba($dark-background-color, .5);
  }
}



.map-section{
  // border: 3px dashed limegreen;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.map-container{
  position: relative;
  width: 80%;
  height: 1000px;
  background-color: rgb(255, 255, 255);
  border-radius: 2em;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.map-container-frame{
  width: 94%;
  height: 94%;
  // border: 3px dashed fuchsia;
  border-radius: 2em;
  overflow: hidden;
  img{
    scale: 100%;
  }
}

.map-container-tagline{
  // border: 3px dashed fuchsia;
  position: absolute;
  font-size: 3.4em;
  font-weight: 700;
  padding: 20px;
  border-radius: 24px;
  transform: translateY(-350px);
  color: $font-color;                  // darkmode-ify this
  background-color: white;
  display: flex;
  justify-content: center; 
  align-items: center;    
}





// styles having to do with gempopups begin


.map-ruby, .map-sapphire, .map-emerald, .map-topaz, .map-amethyst, .map-citrine{
  position: absolute;
}
.map-ruby{
  left: 0;
}



.map-currency{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-width: 5.5em;
  font-size: 0.8em;
  font-weight: 300;
  img{
    height: 60px;
    padding-left: 0.65em;
  }    
}

.map-currency:hover{
  outline: 3px dashed firebrick;
  height: 60px; /* Adjust based on your content height */
  // padding: 12px 16px;
  }

.map-currency-content {
  position: absolute;
  transform: translate(0px, 90px);
  width: 237px;
  background-color: $background-color;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0px 16px;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;

  p{
    padding-left: 10px;
  }

  body.dark & {
    background: $dark-font-color;
    color: $dark-background-color;
  }
}




