@import 'variables';

.login-container {
  padding-left: 0px;
  padding-right: 0px;
  width: 50vw;

  h1 {
    padding: 0px 0px 0.8em 0em;
    text-align: center;
  }
}

.login-form {
  display: grid;
  justify-content: center;
  align-content: center;
  padding-top: 1.5em;
  text-align: center;

  label {
    width: 7em;
    display: flex;
  }

  input {
    all: unset;
    font: 0.8em $mono-font;
    border: 1px solid $peach;
    border-radius: $radius;
    height: 3.2em;
    width: 25em;
    box-sizing: border-box;
    padding: 0px 20px;
    margin-bottom: 2em;
  }
  
  button {
    margin: 4px auto 23px;
  }

  sub {
    text-align: center;
  }
}