@import 'variables';

html {
  height: 100vh;
  box-sizing: border-box;
}

body {
  background: rgb(154,200,183,1);
  background: radial-gradient(circle, rgb(244, 230, 186) 0%, rgba(247,195,184,1) 45%, rgba(154,200,183,1) 90%); 
  background-attachment: fixed;
  padding-top: 100px;
  font: 1em $primary-font;
  color: $font-color;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $peach;
    border-radius: $pill;
  }
}

body.dark {
  background: $dark-background-color;
  background: radial-gradient(circle, #e8dedb 0%, #6d898d 45%, #2e4447 90%); 
  background-attachment: fixed; 
  color: $dark-font-color;
}

body.dark img {
  filter: contrast(110%) grayscale(20%) brightness(0.9);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $dark-background-color;
    color: $dark-font-color;
  }
}

.page-body {
  min-height: calc(100vh - 220px);
  display: flex;
  justify-content: center;
}

.page-body-content {
  background: $background-color;
  border-radius: 4em;
  box-sizing: border-box;
  box-shadow: .2em .2em .75em $drop-shadow;
  margin: 1em auto 2em auto;
  padding: 4em;
  width: 85vw;

  body.dark & {
    background: $dark-background-color;
    box-shadow: 0.2em 0.2em .5em rgba($dark-font-color, 0.15);
    color: $dark-font-color;
  }
}

label {
  font: 1em $primary-font;
  font-weight: 400;
  padding-right: 12px;
  margin-bottom: 0.5em;
}

input, select {
  all: unset;
  font: 0.8em $mono-font;
  border: 1px solid $peach;
  border-radius: $radius;
  margin-right: 2em;
  padding: 10px;
  height: 3.2em;

  body.dark & {
    border: 1px solid $dark-mint;
  }
}

button {
  font: 0.8em $primary-font;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: $radius;
  padding: 0.8em 2em;
  min-height: 3.2em;
  background: rgba($mint, 0.7);

  body.dark & {
    background: $dark-mint;
    color: $dark-font-color;
  }
}

.divider {
  --a: 90deg; /* control the angle */
  --s: 10px; /* size of the zig-zag */
  --b: 2px;  /* control the thickness */
  
  background: $mint;
  height: calc(var(--b) + var(--s)/(2*tan(var(--a)/2)));
  width: 100%;
  --_g:var(--s) repeat-x conic-gradient(from calc(var(--a)/-2) at bottom,
    #0000,#000 1deg calc(var(--a) - 1deg),#0000 var(--a));
  mask: 50% calc(-1*var(--b))/var(--_g) exclude,50%/var(--_g);
  margin: 1.5em 0px;

  body.dark & {
    background: $dark-peach;
  }
}

h1 {
  font: 2.2em/1em $display-font;
  text-transform: uppercase;
}

h2 {
  font: 1.25em/2em $mono-font
}

sub {
  font: 0.8em $primary-font;
  display: block;
  color: $drop-shadow;

  body.dark & {
    color: rgba($dark-font-color, 0.75);
  }
}

hr {
  border-top: 1px solid rgba($peach, 0.5);
}