@import 'variables';

.modal-gem {
  width: 80vw;
}

.modal-close-button {
  padding-left: 100px;
}

.modal-container {
  display: flex;
  align-items: flex-start;
  gap: 2em;

  img {
    width: 2.2em;
    height: 2.2em;
    margin-top: 1em;
  }
}

.modal-info {
  width: 40%;
  height: 60vh;
  max-height: 600px;
  box-sizing: border-box;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // display: grid;
  // grid-template-columns: 1fr;

  .details {
    .name {
      font: 2.2em/1em $display-font;
      display: flex;
    }

    .description {
      display: block;
      box-sizing: border-box;
      font: 0.7em $mono-font;
      text-transform: uppercase;
      margin-top: 1em;
    }
  }

  .review {
    align-self: stretch;
    font: 1em/1.5em $primary-font;
    flex-grow: 1;

    b {
      font: 1.25em $display-font;
    }
  }

  .tags {
    margin-top: 2em;
    align-self: end;

    .gem-tags span {
      // background-color: $peach;
      border: 1px solid $peach;
      border-radius: 2em;
      display: inline-block;
      margin: 0px 10px 10px 0px;
      padding: 3px 10px;
      font: 0.7em $mono-font;
      color: $font-color;
    }
  }

  .bottom {
    margin-top: 2em;
    align-self: flex-end;

    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;

    button {
      width: 150px;
    }
  
    img {
      width: 22px;
      margin-left: 2em;
    }
  }
}

.modal-map {
  width: 60%;
  height: 60vh;
  max-height: 600px;
}