@import 'variables';

.modal-gem {
  width: 80vw;
}


.modal-container {
  display: flex;
  align-items: flex-start;
  gap: 2em;
  padding: 2em 3em 3em 2em;
}

.modal-button-close {
  width: calc(100% - 2em);
  display: flex;
  justify-content: flex-end;
  transform: translateY(1em) translateX(0.5em);
  transition: 0.25s ease-in-out;

  img {
    height: 1em;

    body.dark & {
      filter: invert(1);
    }
  }

  &:hover {
    opacity: 0.7;
  }
}

.modal-gem-img  {
  min-width: 35px;

  img {
    width: 2.2em;
    height: 2.2em;
    margin-top: 1em;
  }
} 

.modal-info {
  width: 33%;
  min-height: 400px;
  height: 60vh;
  box-sizing: border-box;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .details {
    .name {
      font: 2.2em/1em $display-font;
      display: flex;
    }

    .description {
      display: block;
      box-sizing: border-box;
      font: 0.8em $mono-font;
      text-transform: uppercase;
      margin-top: 1em;
    }
  }

  .review {
    align-self: stretch;
    font: 1em/1.5em $primary-font;
    flex-grow: 1;

    b {
      font: 1.25em $display-font;
    }

    i {
      font-style: normal;
      display: inline-block;
      border-bottom: 1px solid $peach;
      margin-left: 0.25em;
    }
  }

  .tags {
    margin-top: 2em;
    align-self: end;

    .gem-tags span {
      // background-color: $peach;
      border: 1px solid $peach;
      border-radius: $pill;
      display: inline-block;
      margin: 0px 10px 10px 0px;
      padding: 3px 10px;
      font: 0.7em $mono-font;
      color: $font-color;

      body.dark & {
        border: 1px solid $dark-peach;
        color: $dark-font-color;
      }
    }
  }

  .bottom {
    margin-top: 2em;
    align-self: flex-end;

    display: grid;
    width: 50%;
    grid-template-columns: auto auto auto;
    align-items: center;
  
    img {
      width: 22px;
      margin-left: 2em;
    }
  }
}

.modal-upvote, .modal-downvote, .modal-heart {
  display: grid;
  place-items: center;
}

.top-img {
  position: absolute; 

  body.dark & {
    filter: invert(1);
    opacity: 0.7;
  }
}

.bottom-img {
  position: absolute; 
  opacity: 0;
  transition: 0.25s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.modal-heart {
  .bottom-img {
    position: absolute; 
    opacity: 0;
    transition: transform 1.5s ease-in-out;
  
    &:hover {
      opacity: 1;
      animation: img-scale 1.5s ease-in-out infinite;
    }
  }
}

@keyframes img-scale {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.35);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.35);
  }

  100% {
    transform: scale(1);
  }
}

.modal-map {
  width: 60%;
  height: 60vh;
  max-height: 600px;
}

// //Cynthias solution to the view button
// .view-button {
//   font: 0.8em $mono-font;
//   display: flex;
//   width: 40px;
//   height: 25px;
//   justify-content: center;
//   align-items: center;
//   color: #151414;
//   border: 1px solid #ddd;
//   border-radius: $radius;
//   padding: 5px 10px;
//   background-color: #f9f9f9; 
//   transition: background-color 0.3s ease;
//   overflow-wrap: break-word;
//   cursor: pointer;
// }

// //Chris' solution to the view button
// //moves it overtop of the image and makes it transparent except for the text
.modal-view-button{
  position: absolute;
  transform: translate(-125px, 58px);
  background: rgba($background-color, 0.8);
  border-radius: $pill;
  display: flex;
  justify-content: center;  
  align-items: center;
  transition: background-color 0.3s ease;

  &:hover{
    background: $mint;
    color: $background-color;
  }

  body.dark &:hover{
    background: $dark-drop-shadow;
  }
}
