@import 'variables';

.my-gems-navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.my-gems-navbar {
  .filter-button {
    padding: 10px;
    margin: 5px;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.3s;

    &.active {
      text-decoration: underline;
    }
  }
}

.create-a-gem {
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  
  button {
    width: 100%;
  }
}

.create-gem-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  // transition: 2s ease-in-out;
  // height: 0%;
  max-height: 0;
  transition: 1s ease-in-out;
  background: var(--background-color);

  label {
    font-size: 0.9em;
    font-weight: 600;
  }

  & button {
    color: $font-color;
  }
}

.create-gem-form.active {
  max-height: 1000px; 
  transition: 1s ease-in-out;
}

.gems-nav-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em 0px;
  font-size: 1.25em;

  img {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    margin-right: 1em;
  }

  body.dark & {
    img {
      filter: invert(1);
    }
  }
}

.page-body-content {
  position: relative;
  height: 100%;
}