.my-gems-navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.my-gems-navbar {
  .filter-button {
    padding: 10px;
    margin: 5px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;

    &.active {
      text-decoration: underline;
    }
  }
}

.create-a-gem {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  border-radius: 10px 10px 0px 0px;
  
  button {
    width: 100%;
  }
}