@import 'variables';

.nav-bar {
  background: $background-color;
  width: calc(100vw - 60px);
  padding: 0px 2.5em 0px 2.5em;
  position: fixed;
  z-index: 100000;
  top: 20px;
  left: 20px;
  height: 4em;
  border-radius: 4em;
  box-sizing: border-box;
  box-shadow: .3em .3em .75em $drop-shadow;
  display: flex;
    grid-template-columns: 1fr 1fr auto;
    justify-items: stretch;
    align-items: center;
}

.nav-bar-logo {
  border: 3px dashed limegreen;
  img {
    width: 180px;
    object-fit: cover;
  }
}

.nav-bar-conditional{
  width: inherit;
  border: 3px dashed rgb(31, 95, 234);
  display: flex;
  justify-content: space-between; 
  align-items: center;      
}


.nav-currency-bar{
  display: flex;
  border: 3px dashed orangered;
  .nav-currency{
    min-width: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
      height: 40px;
    }
  }
  p{
    border: 3px dashed limegreen;
  }
}


.nav-bar-main{
  display: flex;
  flex-direction: row;
  justify-content: end;
  border: 3px dashed khaki;
}

.nav-bar-buttons{
  border: 3px dashed black;
  display: flex;
  flex-direction: row;
  align-items: center;     
}

.nav-bar-link {
  justify-self: end;
  padding-right: 34px;
  a {
    font: 0.8em $mono-font;
    padding: 2px 12px 2px 12px;
    border-radius: 5px;
    
    &:hover {
      background: $peach;
    }
  }
}



.nav-bar-user {
  justify-self: end;
  border: 3px dashed teal;
  display: flex;
  justify-content: center;  
  align-items: center;    
  
  .nav-bar-user-info{
    border: 3px dashed saddlebrown;
    padding-right: 30px;
  }
  img {
    height: 55px;
    width: 55px;
    object-fit: cover;
    border-radius: 100%;
    outline: 3px solid $stone;
  }
}

.nav-bar-user-dropdown {
  display: none;
}