@import 'variables';

.nav-bar {
  background: $background-color;
  width: calc(100vw - 60px);
  padding: 0px 2.5em 0px 2.5em;
  position: fixed;
  z-index: 100000;
  top: 20px;
  left: 20px;
  height: 5em;
  border-radius: 4em;
  box-sizing: border-box;
  box-shadow: .2em .2em .75em $drop-shadow;
  display: flex;
    grid-template-columns: 1fr 1fr auto;
    justify-items: stretch;
    align-items: center;

  body.dark & {
    background: $dark-background-color;
    box-shadow: 0.2em 0.2em .5em rgba($dark-font-color, 0.15);
    color: $dark-font-color;
  }
}

img.nav-bar-logo {
    max-width: 60px;
    max-height: 60px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-right: 1.5em;
}

.nav-bar-signed-in{
  width: inherit;
  display: flex;
  justify-content: space-between; 
  align-items: center;      
}

.nav-bar-logged-out{
  width: inherit;
  display: flex;
  justify-content: flex-end; 
  align-items: center;      
}

.nav-currency-bar{
  display: flex;
  .nav-currency{
    min-width: 5.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 0.8em;
    font-weight: 300;
    img{
      height: 3em;
      padding-left: 0.65em;
    }
  }
}

.nav-bar-currency-container {
  display: flex;
  justify-content: center;
  align-items: center;

  justify-self: end;
  padding-right: 3em;
}

.nav-bar-main{
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.nav-bar-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;     
}

.nav-bar-link {
  justify-self: end;
  padding-right: 0.5em;

  a {
    font: 0.9em $mono-font;
    padding: 5px 12px 5px 12px;
    transition: all  0.2s ease-in-out;
    
    &:hover {
      color: #fff;
      border-radius: $radius;
      background-color: $peach;
    }
  }

  body.dark & {
    a:hover {
      background: $dark-peach;
    }
  }
}

.active-link {
  color: $font-color;
  border-radius: $radius;
  background-color: $peach;

  body.dark & {
    background-color: $dark-peach;
    color: $dark-font-color;
    
    a:hover {
      background: $dark-peach;
    }
  }
}

.nav-bar-user {
  justify-self: end;
  display: flex;
  justify-content: center;  
  align-items: center;    
  
  .nav-bar-user-info{
    padding-right: 30px;
  }
  .nav-bar-user-pfp{
    max-height: 45px;
    max-width: 45px;
    object-fit: cover;
    border-radius: $pill;
    outline: 4px solid $peach;
    aspect-ratio: 1 / 1;

    body.dark & {
      outline: 4px solid $dark-peach;
    }
  }
}

// For the dropdown on the PFP

.nav-bar-user-dropdown {
  position: relative;
  display: inline-block;
}

.nav-bar-user-dropdown-content {
  position: absolute;
  transform: translate(-70px, 20px);
  background-color: $background-color;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0px 16px;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
  a{
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
  }
  img{
    fill: saddlebrown;
    height: 30px;
  }
  p{
    padding-left: 10px;
  }

  body.dark & {
    background: $dark-font-color;
    color: $dark-background-color;
  }
}

.nav-bar-user-dropdown:hover .nav-bar-user-dropdown-content, .nav-bar-user-dropdown:focus .nav-bar-user-dropdown-content{
  max-height: 200px; /* Adjust based on your content height */
  padding: 12px 16px;
}

// -------- For the dropdown on the GemCounter component

.nav-currency-content {
  position: absolute;
  transform: translate(0px, 90px);
  width: 237px;
  background-color: $background-color;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0px 16px;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;

  b {
    font-weight: bold;
  }

  p {
    padding-left: 10px;
  }

  body.dark & {
    background: $dark-font-color;
    color: $dark-background-color;
  }

  ul {
    all: unset;
    list-style-type: disc;
    padding: 1em 3em 0em 3em;
    line-height: 150%;
  }
}


.nav-currency:hover .nav-currency-content{
  max-height: 200px; /* Adjust based on your content height */
  padding: 12px 16px;
}