@import 'variables';

.searchFormContainer {
  width: 100%;
  padding-bottom: 3em;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 2em;

  label {
    font-size: 0.9em;
    font-weight: 600;
  }

  .inputBox, select {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 1em;
    min-width: 15vw;
    margin-top: 1em;
  }

  button {
    max-height: 2em;
  }
}

.search-form-dropdown {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  button {
    margin-left: 1em;
  }
}