@import 'variables';

.unlockModal-screen-space{
  position: fixed;
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 888;
  .unlockModal-negative-space{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 777;
    background-color: rgba(0, 0, 0, 0.2);  
  } 
}

.unlockModal-message{
  display: flex;
  display: flex;
  justify-content: center;  /* Horizontal align*/
  align-items: center;      /* Vertical align*/
  flex-direction: column;
  // border: 3px dashed limegreen;
  h3{
    font-size: 20px;
    font-weight: normal;
    padding: 15px 15px 0px 15px;
    text-align: center;
  }
}
  
.gem-type {
  // border: 3px dashed saddlebrown;
  padding-top: 10px;
  display: flex;
  justify-content: center;  /* Horizontal align*/
  align-items: center;      /* Vertical align*/
  
  img{
    height: 100px;
    width: 100px;
  }
  h2{
    font-size: 60px;
    font-weight: 700;
  }  
  .gem-type_ruby{
    color: rgb(255, 114, 114);
    text-shadow: 4px 4px #cc4343; ;
  }
  .gem-type_sapphire{
    color: rgb(158, 218, 255);
    text-shadow: 4px 4px #557d92; ;
  }
  .gem-type_emerald{
    color: rgb(100, 249, 133);
    text-shadow: 4px 4px #44a343; ;
  }
  .gem-type_topaz{
    color: rgb(255, 192, 76);
    text-shadow: 4px 4px #ac5d14de; ;
  }
  .gem-type_amethyst{
    color: rgb(216, 119, 255);
    text-shadow: 4px 4px #893992; ;
  }
  .gem-type_citrine{
    color: rgb(255, 245, 65);
    text-shadow: 4px 4px #d6a513; ;
  }
}



.unlockModal-container{
  position: relative;
  height: 40%;
  width: 30%;
  z-index: 999;
  background-color: white; 
  box-shadow: .3em .3em .75em $drop-shadow;
  border-radius: 4em;
    .unlockModal-are-you-sure, .unlockModal-success-window, .unlockModal-error-window{
      // border: 3px dashed rebeccapurple;
      display: flex;
      align-items: center;  
      flex-direction: column;
    }
  }

.unlockModal-button{
  // border: 3px dashed limegreen;
  padding-top: 20px;
  width: 70%;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  button{
    height: 50px;
    width: 130px;
    font-size: 15px;
    padding: 0;
  }
.success{
  background-color: rgb(119, 249, 119);
}
.close{
    background-color: rgb(251, 126, 126);
    color: white;
  }
} 


.unlockModal-processing-window{
  .gempal-logo{
    // border: 3px dashed limegreen;
    width: 150px;
    padding: 20px 0;
  }    
  h3{
    padding-top: 25px;
    // border: 3px dashed limegreen;
    font-size: 2.5em;
  }
}
.processing-wheel{  
  margin: 0;
  padding: 0;
  width: 100px;
  animation: rotate 1.5s linear infinite;
  transform-origin: center;  
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% {transform: rotate(360deg); }
}


.unlockModal-success-window{
  h3{
   padding-top: 25px;
   font-size: 2.5em;
 }
.unlock-icon{
  border: 3px dashed limegreen;
 }
 .unlock-top{
  width: 140px;
  z-index: 30;
 }
 .unlock-bottom{
  position: relative;
  transform: translateY(-50px);  
  width: 140px;
 }
}




.unlockModal-error-window{
   h3{
    padding-top: 25px;
    font-size: 2.5em;
  }
  .empty-bag{  
    width: 70px;
    padding-bottom: 20px;      // backwards because img is upsidedown, it actually pads the top
    transform: rotate(215deg);
    animation: shake 4s ease-out infinite;
  }
  @keyframes shake {
    0%, 100% { transform: rotate(225deg) translateY(0); }
    16% { transform: rotate(225deg) translateY(0px); }
    33% { transform: rotate(200deg) translateY(10px); }
    50% { transform: rotate(200deg) translateY(-10px); }
    66% { transform: rotate(200deg) translateY(10px); }
    83% { transform: rotate(200deg) translateY(-10px); }
  }

  .dust-instances{
    transform: translate(-16px, -18px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    .instance1{
      transform: translate(-22px, -8px);
      .dust1{
        width: 4px;
      }
    }
    .instance2{
      transform: translate(-4px, -18px);
      .dust2{
        width: 3px;
      }
    }
    .instance3{
      transform: translate(0px, -14px);
      .dust3{
        width: 5px;
      }
    }
    .instance4{
      transform: translate(8px, -18px);
      .dust4{
        width: 3px;
      }
    }
    .instance5{
      transform: translate(-15px, -11px);
      .dust5{
        width: 6px;
      }
    }
  }


  .dust1, .dust2, .dust3, .dust4, .dust5{
    animation: wavyFall 4s infinite ease-in-out;
  }

  @keyframes wavyFall{
    0% { transform: translateX(0) translateY(0); opacity: 0; }
    10% { transform: translateX(-3px) translateY(4px); opacity: 0; }
    20% { transform: translateX(3px) translateY(8px); opacity: 0; }
    30% { transform: translateX(-3px) translateY(12px); opacity: 0; }
    40% { transform: translateX(3px) translateY(16px); }
    50% { transform: translateX(-3px) translateY(20px); }
    60% { transform: translateX(3px) translateY(24px); }
    70% { transform: translateX(-3px) translateY(28px); }
    80% { transform: translateX(3px) translateY(32px); }
    90% { transform: translateX(-3px) translateY(36px); }
    100% { transform: translateX(0) translateY(40px); } 
  }
}








// Spinny fx borrowed from https://codepen.io/bio2cs/pen/VwwBVaN

// .spinner {
//   animation: spinner-rotate 1.4s linear infinite;
//   -webkit-animation: spinner-rotate 1.4s linear infinite;
//   -moz-animation: spinner-rotate 1.4s linear infinite;
//   width:174px;
//   height:174px;
//   position: relative;
// }

// .spinner-dot {
//   width:274px;
//   height:274px;
//   position: relative;
//   top: 0;
// }

// @keyframes spinner-rotate {
//   to {
//     transform: rotate(360deg);
//   }
// }

// @-webkit-keyframes spinner-rotate {
//   to {
//     -webkit-transform: rotate(360deg);
//   }
// }

// @-moz-keyframes spinner-rotate {
//   to {
//     transform: rotate(360deg);
//   }
// }

// .path {
//   stroke-dasharray: 170;
//   stroke-dashoffset: 20;
// }
