@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Fonts
$mono-font: "Space Mono", monospace;

// Colors
$mint: #9ac8b7;
$peach: #f7c3b8;
$yellow: #f4e6ba;
$drop-shadow: #779187;